@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Nexus Website Menu</title>
    <meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
    <meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
    <meta name="author" content="Codrops" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="~/Libary/lib/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Libary/lib/bootstrap-3.3.7/dist/css/bootstrap.css" />
    <script src="~/Libary/lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/component.css" />
    <script src="~/Scripts/Admin/modernizr.custom.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller">
                            <ul class="gn-menu">
                                <li><a href="@Url.Action("Index","Admin")"><i class="fa fa-plane" aria-hidden="true" style="width:60px;height:40px"></i>Quản lí tour</a></li>
                                <li><a href="#"><i class="fa fa-plane" aria-hidden="true" style="width:60px;height:40px"></i>Quản lí tour</a></li>
                            </ul>
                        </div><!-- /gn-scroller -->
                    </nav>
                </li>
                <li><a href="#">Codrops</a></li>
                <li>
                    <a href="#">
                        <span>Previous Demo</span>
                    </a>
                </li>
                <li><a href="#"><span>Back to the Codrops Article</span></a></li>
            </ul>
        </div><!-- /container -->

    </header>

    @RenderBody();

    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
    $(function () {
        $("#datepicker2").datepicker();
    });
    </script>
    <script src="~/Scripts/Admin/classie.js"></script>
    <script src="~/Scripts/Admin/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
</body>
</html>
