@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">
    <div class="row">
            <h3>Đặt Tour Thành Công</h3>
           <h5>Mytour sẽ liên hệ với quý khách trong vòng 30 phút (T2-CN:08:00 - 23:00) và gửi thông tin chi tiết tới địa chỉ Email . Trường hợp quý khác muốn xác nhận ngay, vui lòng liên hệ với Mytour theo Hotline: Hà Nội: 024 7109 9999, Hồ Chí Minh: 028 7109 9998</h5>


    </div>


</div>