.navbar {
margin-bottom: 0;
border-radius: 0;
}
.navbar {
border: 0;
z-index: 10;

min-height: 40px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border-bottom: 1px solid #e7e8e9;
-webkit-box-shadow: 3px 2px 10px rgba(0,0,0,.05);
box-shadow: 3px 2px 10px rgba(0,0,0,.05);
}

#mytour
{
    padding: 0px 0px;
}
.navbar-nav li{
     font-size: 14px;
     position: relative;
     text-transform: uppercase;
}
#dropdown-tt
{
    padding-top: 15px;
    min-width: 200px;
    min-height:120px;
}

#dropdown-tt a
{
    
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
}
#dropdown-tt a:hover
{
    color:blue;
    
}


#dropdown-tt hr {
    margin-top:3px;
    margin-bottom:3px;
    border: 0;
    border-top: 1px solid #eee;
}

.dropdown #dropdown-tk
{
    padding-top: 15px;
    width: 100px;
    min-height:120px;
  position:absolute;
  text-align:center;
  margin-left:-25px;
  margin-top:5px;
}
.dropdown #dropdown-dn
{
  padding-top: 15px;
  width: 100px;
  
  position:absolute;
  text-align:center;
  margin-left:-50px;
  margin-top:5px;
}
#dropdown-tk hr {
    margin-top:3px;
    margin-bottom:3px;
    border: 0;
    border-top: 1px solid #eee;
}
.navbar-nav p
{
    margin: 0px;
}
.phone-call
{
    text-align:center;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
   
}
.line
{
border: 1px solid #e7e8e9;
    border-bottom: 0;
    border-top: 0px;
   
}
.navbar-nav .phanhoi a
 {
    padding-top: 6px ;
}
.navbar-nav>li>.dropdown-menu {
    
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 

}
.navbar-nav > li > .dropdown {
    padding:10px 0px 0px 5px;
}

@media (min-width: 768px)
{
.navbar-right .dropdown-menu {
    right: 0; 
    left:0;
}
}
 .title-sm
 {
    color: #555;
    font-size: 16px;
    border-bottom: 1px solid #cbd3db;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-top: 20px;
}
.panel-heading
{
    text-align: center;
}
.panel-footer
{
    text-align: center;
}
.container-fluid {
    padding:0px;
}
.radio li {
    width: 40%;
    font-size: 13px;
    font-family: sans-serif;
}
.radio {
    padding-top: 12px;
    width: 96%;
    margin: auto;
    display: block;
    overflow: hidden;

}
.radio li input {
    width: 11px;
    height: 11px;
}
ul li{
    display: inline-block;
}
.section-tab{
    position: relative;
    left: 5%;
    bottom: 180px;
    width: 90%;
}

.nav-btn-tab button {
    background: url(../images/tabs.gif) repeat-x;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 32.9%;
    height: 40px;
    border-radius: 6px 6px 0 0;
    transition: 0.3s;
    font-size: 14px;
    margin-right: 1px;
}

.nav-btn-tab button:hover {
    background: url(../images/tabs_active.gif) repeat-x;
}

.radio .form-group form>div{
    float: left;
}
.radio .form-group  *{
    border: none;
}
.radio .form-group input{
    border-radius: 4px;
}
.radio .date-time{
    padding-right: 15px!important;
}

.radio .place,.radio .date-time{
    padding-right: 5px;
    /* width: 24%; */
    width: 17%;

}
.form-submit button{
    background: #ff6d9cd4;
}
.form-submit {
    background: #ff6d9cfc;
    width: 11%;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.form-submit button{
    width: 85%;
    margin-left: 9px;
}
.radio .quantity{
    width: 20%;
}
.radio .place input{
    width: 90%;
    padding: 5px;
}
.plus-minus-input >*{
    float: left;
}
.form-control{
    height: 30px !important;
}
.input-group-addon{
    background-color: white !important;
    border-right: solid 1px #0000002b !important;
}
/* -------------------------------------- */
.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
            width: 94%;
            margin: auto;
  }
  
  .plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 50%;
    padding: 5px;

  }
  
  .plus-minus-input .input-group-field::-webkit-inner-spin-button,
  .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    background: #31d200;
    color: white;
    padding: 0.25em 0.6em;
}

  .radio .submit-form{
      width: 100%;
  }